<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title><style>
        body {background-color: powderblue;}
        h1   {
            color: blue;
            font-family: verdana;
            font-size: 300%;
            text-align: center;
        }
        p    {color: red;}
        form{
            text-align: center;
            color: blue;
            font-family: verdana;
            font-size: 120%;
        }
        input{
            font-size: 200%;
        }
        button{
            font-size: 200%;
        }
    </style>
</head>
<body>
    <h1>Location of Number is {{loca}} </h1>
    <h1>Service Provider for given number is {{carr}} </h1>
</body>
</html>